@font-face {
  font-family: digital-7;
  src: url(digital-7.regular.ttf);
}

/* A Modern CSS Reset - Andy Bell - Recommended from Kevil Powell */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  top: 4rem;
  max-width: 600px;
  min-width: 300px;
  background-color: rgb(222, 222, 230);
  border: 2px solid black;
  margin: 4rem auto 0px auto;
  padding: 1rem;
  border-radius: 20px;
}

.displayArea {
  border: 2px solid hsl(0, 0%, 16%);
  background-color: #b3b1b157;
  width: 96%;
  text-align: right;
  padding: 0.5rem;
  margin-inline: auto;
  margin-block: 0.5rem;
}

/* History Screen */
.displayArea > #history {
  width: 96%;
  text-align: right;
  font-family: digital-7 !important;
  border-bottom: 2px solid rgba(228, 223, 223, 0.664);
  font-size: 2rem;
  /* margin-left: auto;
  margin-right: auto; */
}

/* Main Screen */
.displayArea > h1 {
  width: 96%;
  text-align: right;
  font-family: digital-7 !important;
  font-size: 4rem;
  /* margin: 0 auto 0 auto; */
  /* letter-spacing: 1rem; */
}

/* Keypad styles */
.calculator > .keyBlock {
  width: 96%;
  margin-inline: auto;
  padding: 1rem;
  background-color: hsla(0, 1%, 61%, 0.678);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

button,
.numButton,
.oprButton {
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #ffeb3b;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#product {
  grid-column: 4;
}

/* hide the asterix on the product and / on division*/
#product::before,
#division::before {
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  color: black;
  top: 0;
  left: 38%;
}

#division,
#product {
  position: relative;
  color: hsl(22, 94%, 43%);
}

#product::before {
  content: "x";
}

#division::before {
  content: "÷";
}

#clearButton {
  grid-column: 1/3;
  background-color: #d41515 !important;
}

.oprButton {
  background-color: hsl(22, 94%, 43%) !important;
}

#answer {
  background-color: #21a70a !important;
}

.numButton:hover,
.oprButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
